<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# Data Investigation with Pandas

## 1.0 Importing our Libraries

In [22]:
# Importing the libraries we will need 

# Importing the pandas library
# 
import pandas as pd

# Importing the numpy library
#
import numpy as np

## 1.1 Reading the Dataset from our CSV file



The dataset we will use contains information about the 2009 Census - The Rural Urban Population by Age, Sex and District.


*   Dataset link for download or access: [Link](https://drive.google.com/open?id=1pc9ZLFGsosdWBk1lI29ADIqRtCvD_FBe)

In [23]:
# Let's read the data from the CSV file and create the dataframe to be used
# 
df = pd.read_csv('Rural_Urban_Population_By_Age_Sex_and_by_District__2009.csv')
df

,District,Urban/Rural,Age_years,Male,Female,Total,County,Province,OBJECTID
0,NAIROBI WEST,Urban,0,10126,10116,20242,Nairobi,NAIROBI,0
1,NAIROBI WEST,Urban,1,8124,7989,16113,Nairobi,NAIROBI,1
2,NAIROBI WEST,Urban,2,8462,8627,17089,Nairobi,NAIROBI,2
3,NAIROBI WEST,Urban,3,8334,8420,16754,Nairobi,NAIROBI,3
4,NAIROBI WEST,Urban,4,7948,7820,15768,Nairobi,NAIROBI,4
...,...,...,...,...,...,...,...,...,...
25415,TESO SOUTH,Rural,77,99,86,185,Busia,WESTERN,25415
25416,TESO SOUTH,Rural,78,63,47,110,Busia,WESTERN,25416
25417,TESO SOUTH,Rural,79,90,121,211,Busia,WESTERN,25417
25418,TESO SOUTH,Rural,80+,384,391,775,Busia,WESTERN,25418
25419,TESO SOUTH,Rural,Age NS,25,23,48,Busia,WESTERN,25419

## 1.2 Previewing our Dataset

In [24]:
# Let's preview the first 10 rows of our data
# 
df.head(10)

,District,Urban/Rural,Age_years,Male,Female,Total,County,Province,OBJECTID
0,NAIROBI WEST,Urban,0,10126,10116,20242,Nairobi,NAIROBI,0
1,NAIROBI WEST,Urban,1,8124,7989,16113,Nairobi,NAIROBI,1
2,NAIROBI WEST,Urban,2,8462,8627,17089,Nairobi,NAIROBI,2
3,NAIROBI WEST,Urban,3,8334,8420,16754,Nairobi,NAIROBI,3
4,NAIROBI WEST,Urban,4,7948,7820,15768,Nairobi,NAIROBI,4
5,NAIROBI WEST,Urban,5,7547,7660,15207,Nairobi,NAIROBI,5
6,NAIROBI WEST,Urban,6,6966,7082,14048,Nairobi,NAIROBI,6
7,NAIROBI WEST,Urban,7,6511,6674,13185,Nairobi,NAIROBI,7
8,NAIROBI WEST,Urban,8,6171,6489,12660,Nairobi,NAIROBI,8
9,NAIROBI WEST,Urban,9,6361,6662,13023,Nairobi,NAIROBI,9

## 1.3 Accessing Information about our Dataset

In [25]:
# We can getting to know more about the dataset by accessing its information 
#
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25420 entries, 0 to 25419
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   District     25420 non-null  object
 1   Urban/Rural  25420 non-null  object
 2   Age_years    25420 non-null  object
 3   Male         25420 non-null  int64
 4   Female       25420 non-null  int64
 5   Total        25420 non-null  int64
 6   County       25420 non-null  object
 7   Province     25420 non-null  object
 8   OBJECTID     25420 non-null  int64
dtypes: int64(4), object(5)
memory usage: 1.7+ MB

## 1.4 Answering Questions

Let's answer the following questions with our dataset

In [29]:
# Challenge 1
# What was the average age of a person of Kenya?
#
df[df['Age_years']=='80+'] = 80

df[df['Age_years']=='Age NS'] = 80
df['Age_years']=pd.to_numeric(df['Age_years'])
df
df['Age_years'].mean()

40.48780487804878

In [30]:
# Challenge 2
# What was the average female population in Kenya?
#
df['Female'].mean()

756.6111329661684

In [31]:
# Challenge 3
# What was the average male population in Kenya?
#
df['Male'].mean()

750.2539339103068

In [34]:
# Challenge 4
# Which 5 districts were the most densely populated Kenya in descending order?
#
df.groupby('District')['Total'].sum().sort_values(ascending=False).head(5)

District
NAIROBI EAST     1141605
NAIROBI NORTH    1057449
NAIROBI WEST      682029
SIAYA             542587
MOLO              536814
Name: Total, dtype: int64

In [35]:
# Challenge 5
# Which 5 counties were the most densely populated Counties in descending order?
# 
df.groupby('County')['Total'].sum().sort_values(ascending=False).head(5)

County
Nairobi     3126275
Kiambu      1655780
Kakamega    1645413
Nakuru      1589130
Meru        1567945
Name: Total, dtype: int64

In [36]:
# Challenge 6
# Which 5 districts were the most sparsely populated in descending order?
# 
df.groupby('District')['Total'].sum().sort_values(ascending=True).head(5)

District
LAIKIPIA NORTH    32508
GARBATULLA        42571
MARSABIT          45827
80                49600
SAMBURU EAST      58573
Name: Total, dtype: int64

In [58]:
# Challenge 7
# What was the average population of the the most densely populated county in Kenya?
df.groupby('County')['Total'].mean().sort_values(ascending = False).head(1)

County
Nairobi    9769.609375
Name: Total, dtype: float64

In [59]:
# Challenge 8
# What was the average population of the the most sparsely populated county in Kenya?
# 
df.groupby('County')['Total'].mean().sort_values(ascending = True).head(1)

County
80    80.0
Name: Total, dtype: float64

In [69]:
# Challenge 9
# What was the total population of Busia County? 
# 

df[df['County']=='Busia']['Total'].sum()

737249

In [80]:
# Challenge 10
# What was the average age of person in Busia County? How many people of this age were in Busia County?
df[df['County']=='Busia']['Age_years'].mean()
df[(df['County']=='Busia')&(df['Age_years']==39)]['County'].count()

10

In [81]:
# Challenge 11
# What was the Total population of Teso South District?
# 
df[df['District']=='TESO SOUTH']['Total'].sum()

136998

In [83]:
# Challenge 12
# What was the urban population of Teso South District?
# 
df[(df['Urban/Rural']=='Urban')&(df['District']=='TESO SOUTH')]['Total'].sum()

26059

In [85]:
# Challenge 13
# What was the rural population of Teso South District?
# 
df[(df['Urban/Rural']=='Rural')&(df['District']=='TESO SOUTH')]['Total'].sum()

110939

In [87]:
# Challenge 14
# What was the population of people aged 60 and above in Kenya?
#
df[df['Age_years'] >=60 ]['Total'].sum()

1591950

In [89]:
# Challenge 15 
# What was the urban population in Kenya?
#
df[df['Urban/Rural'] =='Urban']['Total'].sum()

12401054