<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# Python Data Cleaning: Basics

## Step 1: Finding and counting missing data

Having known how missing values in a dataset are created, we will now get introduced to how we can work with such a dataset. The first step that we will perform is to find the missing values and know how many they are.

In [22]:
# We will first import our dataset that we will use for the examples. We will do this by first
# Importing our pandas library 
import pandas as pd


# then storing the url location of our dataset to the variable url
url = 'http://bit.ly/TitanicDataset1'

# We will read the dataset from above url and store the dataframe in the variable df
df = pd.read_csv(url)
df

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,3.0,0.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.5000,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0000,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0000,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN
1309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# Challenge 1
# In parallel to this, we will also be working with another dataset too. We will use it for practice.

# Let's first store our url location just like we did above
gov_dataset = 'http://bit.ly/GovProjectFinanceDataset1'

# Then read the dataset from url and store it in our variable of choice
# 
# 
gov = pd.read_csv(gov_dataset)
gov
# And familiarize ourselves with the dataframe by viewing its first 5 rows
#

,Implementing_Agency,Total_-_GOK_Budget_Est_KES,Total_-_Loan_Budget_Est_KES,Total_-_Grant_Budget_Est_KES,Total_Budget_Supported__by_Donors_KES,Total_2013/2014_Budget_KES,OBJECTID
0,NaN,0.000000e+00,0,3524395000,3524395000,3524395000,0
1,MOEW&NR National Environment Management Auth...,0.000000e+00,0,300000000,300000000,300000000,1
2,"Ministry of Agriculture, Livestock and Fisheries",2.306364e+09,23354779585,8732081258,32086860843,34393225231,2
3,The Presidency,NaN,0,0,0,0,3
4,MOAL&F Kenya Plant Health Inspectorate Serv...,0.000000e+00,0,66916163,66916163,66916163,4
5,Ministry of Foreign Affairs,0.000000e+00,0,46000000,46000000,46000000,5
6,MRDA Ewaso Ngiro North Dev. Authority (ENNDA),6.560292e+09,0,0,0,6560292000,6
7,MOE&P Kenya Electricity Transmission Company...,0.000000e+00,1304000000,0,1304000000,1304000000,7
8,Office of The Attorney General and Department...,0.000000e+00,0,1351905890,1351905890,1351905890,8
9,State Department of Infrastructure,1.227000e+07,0,0,0,12270000,9
10,Ministry of Health,2.312443e+10,14674350000,28425220670,43099570670,66224000198,10
11,MOES&T Kimathi University of Science and Tec...,4.800000e+07,0,0,0,48000000,11
12,Ministry of Devolution and Planning,9.007978e+08,13292998571,40902510668,54195509239,55096307002,12
13,Ministry of Information and Communications an...,8.172085e+07,18282437954,2248145612,20530583566,20612304417,13
14,Ministry of Labour Social Security and Services,6.000000e+06,3393530747,4111094603,7504625350,7510625350,14
15,Ministry of Commerce Tourism and East African...,4.000000e+07,0,195400000,195400000,235400000,15
16,Ministry of Industialization and Enterprise D...,2.313500e+08,0,504600000,504600000,735950000,16
17,MRDA Ewaso Ngiro North Dev. Authority (ENNDA),5.183640e+06,0,0,0,5183640,17
18,Ministry of Transport and Infrastructure,2.624911e+10,149320000000,25486200000,174806000000,201055000000,18
19,Ministry of Sports Culture and Arts,0.000000e+00,0,2095203724,2095203724,2095203724,19
20,Ministry of Education,3.003600e+10,14018084035,5475718114,19493802149,49529802149,20
21,Kisiwa Technical Training Institute,1.200000e+07,0,0,0,12000000,21
22,MOES&T Embu University College,4.011780e+07,0,0,0,40117799,22
23,MOES&T South Eastern University College,2.993424e+07,0,0,0,29934238,23
24,The National Treasury,2.700000e+07,6897819701,30932542738,37830362439,37857362439,24
25,MOES&T Kisii University,1.500000e+08,0,0,0,150000000,25
26,MOR Kenya National Highway Authority,2.053809e+09,0,0,0,2053808767,26
27,Ministry of Devolution and Planning,0.000000e+00,0,120000000,120000000,120000000,27
28,The Presidency,0.000000e+00,0,70000000,70000000,70000000,28
29,Ministry of Environment Water and Natural Res...,5.016544e+09,47914296445,13720527117,61634823562,66651367859,29
30,The Judiciary,0.000000e+00,4542595000,52120000,4594715000,4594715000,30
31,Ministry of Land Housing and Urban Development,3.090285e+09,25301887681,1713200000,27015087681,30045372475,31
32,Independent Electoral and Boundaries Commission,1.200439e+07,0,701425300,701425300,713429686,32
33,Ministry of Interior and Coordination of Nati...,1.300000e+08,4487618281,288710000,4776328281,4906328281,33
34,MOES&T Egerton University (EU),3.270103e+08,0,0,0,327010282,34
35,MOE&P Kenya Electricity Generating Company L...,2.000000e+09,0,0,0,2000000000,35
36,State Department for Education,4.193250e+06,0,0,0,4193250,36
37,Ministry of Energy & Petroleum,6.191316e+08,129100000000,6521099528,135621000000,136240000000,37
38,MOES&T Karatina University College,8.000000e+07,0,0,0,80000000,38
39,MOR Kenya Rural Roads Authority (KERA),1.315244e+09,0,0,0,1315243883,39

In [37]:
# We count the number of non - missing values in the df dataframe
#
df.shape[0]
df.count()

pclass       1309
survived     1309
name         1309
sex          1309
age          1046
sibsp        1309
parch        1309
ticket       1309
fare         1308
cabin         295
embarked     1307
boat          486
body          121
home.dest     745
dtype: int64

In [38]:
# Challenge 2: Government Project Dataset
# We also count the number of non - missing values in the our government project dataset
# 
gov.shape[0]
gov.count()

Implementing_Agency                      39
Total_-_GOK_Budget_Est_KES               39
Total_-_Loan_Budget_Est_KES              40
Total_-_Grant_Budget_Est_KES             40
Total_Budget_Supported__by_Donors_KES    40
Total_2013/2014_Budget_KES               40
OBJECTID                                 40
dtype: int64

In [29]:
# A longer method can be to subtract the no. of non-missing rows from the total number 
# of rows in the dataframe in order to determine the no. of missing values as shown
# 
num_rows = df.shape[0]
num_missing = num_rows - df.count() 
num_missing

pclass          1
survived        1
name            1
sex             1
age           264
sibsp           1
parch           1
ticket          1
fare            2
cabin        1015
embarked        3
boat          824
body         1189
home.dest     565
dtype: int64

In [30]:
# Challenge 3: Government Project Dataset
# We now also subtract the no. of non-missing rows from the total number of rows 
# to determine the no. of missing values in our government project dataset
#
num_rows = gov.shape[0]
num_missing = num_rows - gov.count() 
num_missing

Implementing_Agency                      1
Total_-_GOK_Budget_Est_KES               1
Total_-_Loan_Budget_Est_KES              0
Total_-_Grant_Budget_Est_KES             0
Total_Budget_Supported__by_Donors_KES    0
Total_2013/2014_Budget_KES               0
OBJECTID                                 0
dtype: int64

In [31]:
# Another method would also be to count the number of missing values in our dataframe,  
# using the count_nonzero function from numpy - and including the isnull() method.

# But before we do that, we would need import numpy,
# 
import numpy as np

# Then count those missing values in our dataframe
#
np.count_nonzero(df.isnull())

3869

In [32]:
# Challenge 4: Government Project Dataset
# Let's just do what we did in our previous cell. We found out the number of missing values 
# in our dataset using the count_nonzero function from numpy 
#
np.count_nonzero(gov.isnull())

2

In [33]:
# We could also count the number of missing values for a particular column by specifying 
# the column by still using the count_nonzero function from numpy 
# 
np.count_nonzero(df['body'].isnull())

1189

In [42]:
# Challenge 5: Government Project Dataset
# And again specify how many non-missing values we have in the column: Total_-_GOK_Budget_Est_KES	
#
np.count_nonzero(gov['Total_-_GOK_Budget_Est_KES'])

30

## Step 2: Clean Missing Data

Now that we have been able to identify our missing values in our datasets, we can deal with them in the following ways.

### a) We can recode/replace these values
Here, we can do this by using the fillna method and recoding/replacing the missing values with another value or other values. In this example, we will recode the missing values to 0.

In [39]:
# We can recode missing values with 0 by doing the following. 
# Do note that this will appear as 0.0 in your dataframe.
# 
df_recode = df.fillna(0)

# then preview the first 5 rows for the recoded dataframe
#
df_recode.head(5)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,0.0,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,0.0,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,0,0.0,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,0,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,0,0.0,"Montreal, PQ / Chesterville, ON"

In [43]:
# After recoding, let's check for non-missing values in the recoded dataframe
#
np.count_nonzero(df_recode)

11752

In [46]:
# df_recode.count().sum()

In [48]:
# Challenge 6: Government Project Dataset
# Nice! Let's now replace the missing values in our dataset with 0 again 
# just as in our previous example
# 
newgov = gov.fillna(0)
newgov.isnull().sum()

Implementing_Agency                      0
Total_-_GOK_Budget_Est_KES               0
Total_-_Loan_Budget_Est_KES              0
Total_-_Grant_Budget_Est_KES             0
Total_Budget_Supported__by_Donors_KES    0
Total_2013/2014_Budget_KES               0
OBJECTID                                 0
dtype: int64

**Challenge 7:** Together with your peer now discuss the cases where you might use the above recoding technique.

### b) We can fill forward missing values

When data is filled data forward, the last known value is used for the next missing value. The missing values are replaced with the last known/recorded value. Let's see how that works.

In [49]:
# First lets preview out df ,and note the missing data in the boat and body columns
#
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [54]:
# And now let's fill forward
#
df_fill_forward = df.fillna(method='ffill')

# Then preview our dataframe and try to understand it
#

df_fill_forward.isnull().sum()

# Did you notice what happens when the column begins with a missing value? 
# Discuss this with your peer

pclass       0
survived     0
name         0
sex          0
age          0
sibsp        0
parch        0
ticket       0
fare         0
cabin        0
embarked     0
boat         0
body         3
home.dest    0
dtype: int64

In [56]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [58]:
# Challenge 8: Government Project Dataset
# Onto our other dataset, let's now fill forward the missing values and see what happens
# 
gov_fillforward = gov.fillna(method = 'ffill')

gov_fillforward.isnull().sum()

Implementing_Agency                      1
Total_-_GOK_Budget_Est_KES               0
Total_-_Loan_Budget_Est_KES              0
Total_-_Grant_Budget_Est_KES             0
Total_Budget_Supported__by_Donors_KES    0
Total_2013/2014_Budget_KES               0
OBJECTID                                 0
dtype: int64

**Challenge 9: **Together with your peer discuss the cases where you might use the above fill forward technique.

### c) We can fill backward missing values

We can also do the opposite, and fill data backward our missing values. When doing this, the newest value replaces the missing data.

In [60]:
# Again first lets preview df (last 10 items), and note the missing data in the boat and body columns
#
print(df.tail(10))

      pclass  survived                                     name     sex   age  \
1300     3.0       1.0  Yasbeck, Mrs. Antoni (Selini Alexander)  female  15.0
1301     3.0       0.0                     Youseff, Mr. Gerious    male  45.5
1302     3.0       0.0                        Yousif, Mr. Wazli    male   NaN
1303     3.0       0.0                    Yousseff, Mr. Gerious    male   NaN
1304     3.0       0.0                     Zabour, Miss. Hileni  female  14.5
1305     3.0       0.0                    Zabour, Miss. Thamine  female   NaN
1306     3.0       0.0                Zakarian, Mr. Mapriededer    male  26.5
1307     3.0       0.0                      Zakarian, Mr. Ortin    male  27.0
1308     3.0       0.0                       Zimmerman, Mr. Leo    male  29.0
1309     NaN       NaN                                      NaN     NaN   NaN

      sibsp  parch  ticket     fare cabin embarked boat   body home.dest
1300    1.0    0.0    2659  14.4542   NaN        C  NaN    NaN       NaN
1301    0.0    0.0    2628   7.2250   NaN        C  NaN  312.0       NaN
1302    0.0    0.0    2647   7.2250   NaN        C  NaN    NaN       NaN
1303    0.0    0.0    2627  14.4583   NaN        C  NaN    NaN       NaN
1304    1.0    0.0    2665  14.4542   NaN        C  NaN  328.0       NaN
1305    1.0    0.0    2665  14.4542   NaN        C  NaN    NaN       NaN
1306    0.0    0.0    2656   7.2250   NaN        C  NaN  304.0       NaN
1307    0.0    0.0    2670   7.2250   NaN        C  NaN    NaN       NaN
1308    0.0    0.0  315082   7.8750   NaN        S  NaN    NaN       NaN
1309    NaN    NaN     NaN      NaN   NaN      NaN  NaN    NaN       NaN

In [61]:
# And now fill backward
#
df_fill_backward = df.fillna(method='bfill')

# Then preview our dataframe (last 10 items) and try to understand what took place
#
print(df_fill_backward.tail(10))

# After this, we will discuss what happens when a column ends with a missing value.

      pclass  survived                                     name     sex   age  \
1300     3.0       1.0  Yasbeck, Mrs. Antoni (Selini Alexander)  female  15.0
1301     3.0       0.0                     Youseff, Mr. Gerious    male  45.5
1302     3.0       0.0                        Yousif, Mr. Wazli    male  14.5
1303     3.0       0.0                    Yousseff, Mr. Gerious    male  14.5
1304     3.0       0.0                     Zabour, Miss. Hileni  female  14.5
1305     3.0       0.0                    Zabour, Miss. Thamine  female  26.5
1306     3.0       0.0                Zakarian, Mr. Mapriededer    male  26.5
1307     3.0       0.0                      Zakarian, Mr. Ortin    male  27.0
1308     3.0       0.0                       Zimmerman, Mr. Leo    male  29.0
1309     NaN       NaN                                      NaN     NaN   NaN

      sibsp  parch  ticket     fare cabin embarked boat   body home.dest
1300    1.0    0.0    2659  14.4542   NaN        C  NaN  312.0       NaN
1301    0.0    0.0    2628   7.2250   NaN        C  NaN  312.0       NaN
1302    0.0    0.0    2647   7.2250   NaN        C  NaN  328.0       NaN
1303    0.0    0.0    2627  14.4583   NaN        C  NaN  328.0       NaN
1304    1.0    0.0    2665  14.4542   NaN        C  NaN  328.0       NaN
1305    1.0    0.0    2665  14.4542   NaN        C  NaN  304.0       NaN
1306    0.0    0.0    2656   7.2250   NaN        C  NaN  304.0       NaN
1307    0.0    0.0    2670   7.2250   NaN        C  NaN    NaN       NaN
1308    0.0    0.0  315082   7.8750   NaN        S  NaN    NaN       NaN
1309    NaN    NaN     NaN      NaN   NaN      NaN  NaN    NaN       NaN

In [68]:
# Challenge 10: Government Project Dataset
# Back to our government dataset. We now fill backward the missing values 
# and try to understand the changes that took place
# 
gov_fillbackward = gov.fillna(method = 'bfill')
gov_fillbackward.tail()
# gov.isnull().sum()

,Implementing_Agency,Total_-_GOK_Budget_Est_KES,Total_-_Loan_Budget_Est_KES,Total_-_Grant_Budget_Est_KES,Total_Budget_Supported__by_Donors_KES,Total_2013/2014_Budget_KES,OBJECTID
35,MOE&P Kenya Electricity Generating Company L...,2.000000e+09,0,0,0,2000000000,35
36,State Department for Education,4.193250e+06,0,0,0,4193250,36
37,Ministry of Energy & Petroleum,6.191316e+08,129100000000,6521099528,135621000000,136240000000,37
38,MOES&T Karatina University College,8.000000e+07,0,0,0,80000000,38
39,MOR Kenya Rural Roads Authority (KERA),1.315244e+09,0,0,0,1315243883,39

**Challenge 11: ** Together with your peer discuss the cases where you might use the above fill backward technique.


### d) We can interpolate missing values

Interpolation uses other values to fill in the missing values. It does this by treating missing values as if they should be equally spaced apart. This function fills in the missing values linearly as shown in the example below.

In [69]:
# Once again first lets print out df, and note the missing data in the boat and body columns
# NB: iloc gets rows (or columns) at particular positions in the index
#

df.iloc[0:10, 11:13].head(10)

  boat   body
0    2    NaN
1   11    NaN
2  NaN    NaN
3  NaN  135.0
4  NaN    NaN
5    3    NaN
6   10    NaN
7  NaN    NaN
8    D    NaN
9  NaN   22.0

In [70]:
# Then perform our intepolation
#
df_interpolate = df.interpolate().iloc[0:10, 11:13];
df_interpolate.head(10)

  boat        body
0    2         NaN
1   11         NaN
2  NaN         NaN
3  NaN  135.000000
4  NaN  116.166667
5    3   97.333333
6   10   78.500000
7  NaN   59.666667
8    D   40.833333
9  NaN   22.000000

In [76]:
# Challenge 12: Government Project Dataset
# Intepolate the missing values in our dataset, noting the changes
#
gov.iloc[:,:]
gov_inter = gov.interpolate().iloc[:,:];
gov_inter

,Implementing_Agency,Total_-_GOK_Budget_Est_KES,Total_-_Loan_Budget_Est_KES,Total_-_Grant_Budget_Est_KES,Total_Budget_Supported__by_Donors_KES,Total_2013/2014_Budget_KES,OBJECTID
0,NaN,0.000000e+00,0,3524395000,3524395000,3524395000,0
1,MOEW&NR National Environment Management Auth...,0.000000e+00,0,300000000,300000000,300000000,1
2,"Ministry of Agriculture, Livestock and Fisheries",2.306364e+09,23354779585,8732081258,32086860843,34393225231,2
3,The Presidency,1.153182e+09,0,0,0,0,3
4,MOAL&F Kenya Plant Health Inspectorate Serv...,0.000000e+00,0,66916163,66916163,66916163,4
5,Ministry of Foreign Affairs,0.000000e+00,0,46000000,46000000,46000000,5
6,MRDA Ewaso Ngiro North Dev. Authority (ENNDA),6.560292e+09,0,0,0,6560292000,6
7,MOE&P Kenya Electricity Transmission Company...,0.000000e+00,1304000000,0,1304000000,1304000000,7
8,Office of The Attorney General and Department...,0.000000e+00,0,1351905890,1351905890,1351905890,8
9,State Department of Infrastructure,1.227000e+07,0,0,0,12270000,9
10,Ministry of Health,2.312443e+10,14674350000,28425220670,43099570670,66224000198,10
11,MOES&T Kimathi University of Science and Tec...,4.800000e+07,0,0,0,48000000,11
12,Ministry of Devolution and Planning,9.007978e+08,13292998571,40902510668,54195509239,55096307002,12
13,Ministry of Information and Communications an...,8.172085e+07,18282437954,2248145612,20530583566,20612304417,13
14,Ministry of Labour Social Security and Services,6.000000e+06,3393530747,4111094603,7504625350,7510625350,14
15,Ministry of Commerce Tourism and East African...,4.000000e+07,0,195400000,195400000,235400000,15
16,Ministry of Industialization and Enterprise D...,2.313500e+08,0,504600000,504600000,735950000,16
17,MRDA Ewaso Ngiro North Dev. Authority (ENNDA),5.183640e+06,0,0,0,5183640,17
18,Ministry of Transport and Infrastructure,2.624911e+10,149320000000,25486200000,174806000000,201055000000,18
19,Ministry of Sports Culture and Arts,0.000000e+00,0,2095203724,2095203724,2095203724,19
20,Ministry of Education,3.003600e+10,14018084035,5475718114,19493802149,49529802149,20
21,Kisiwa Technical Training Institute,1.200000e+07,0,0,0,12000000,21
22,MOES&T Embu University College,4.011780e+07,0,0,0,40117799,22
23,MOES&T South Eastern University College,2.993424e+07,0,0,0,29934238,23
24,The National Treasury,2.700000e+07,6897819701,30932542738,37830362439,37857362439,24
25,MOES&T Kisii University,1.500000e+08,0,0,0,150000000,25
26,MOR Kenya National Highway Authority,2.053809e+09,0,0,0,2053808767,26
27,Ministry of Devolution and Planning,0.000000e+00,0,120000000,120000000,120000000,27
28,The Presidency,0.000000e+00,0,70000000,70000000,70000000,28
29,Ministry of Environment Water and Natural Res...,5.016544e+09,47914296445,13720527117,61634823562,66651367859,29
30,The Judiciary,0.000000e+00,4542595000,52120000,4594715000,4594715000,30
31,Ministry of Land Housing and Urban Development,3.090285e+09,25301887681,1713200000,27015087681,30045372475,31
32,Independent Electoral and Boundaries Commission,1.200439e+07,0,701425300,701425300,713429686,32
33,Ministry of Interior and Coordination of Nati...,1.300000e+08,4487618281,288710000,4776328281,4906328281,33
34,MOES&T Egerton University (EU),3.270103e+08,0,0,0,327010282,34
35,MOE&P Kenya Electricity Generating Company L...,2.000000e+09,0,0,0,2000000000,35
36,State Department for Education,4.193250e+06,0,0,0,4193250,36
37,Ministry of Energy & Petroleum,6.191316e+08,129100000000,6521099528,135621000000,136240000000,37
38,MOES&T Karatina University College,8.000000e+07,0,0,0,80000000,38
39,MOR Kenya Rural Roads Authority (KERA),1.315244e+09,0,0,0,1315243883,39

**Challenge 13: **Together with your peer discuss the cases where you might use the above interpolate technique.

### e) We can drop/delete missing values

The other way to work with missing data is to drop/delete the records with the missing data. This is a judgement that you have to make based on your research. Sometimes keeping the entire dataset together with the missing values, can leave you with a useless dataset. On the other hand, the missing data many not be random and dropping those missing values would leave you with a biased dataset or deleting the missing dataset might leave you with insufficient data for analysis. All of this we will learn more indepth during the course of the program. 

For now lets see how we can drop missing values from a dataset.

In [77]:
# Let's find out the size of our dataset
# 
df.shape

(1310, 14)

In [80]:
# If we were to keep our complete rows; meaning we drop any record with a missing value, then
#
df_dropped = df.dropna()

# We are left with no rows of data
#
df_dropped.shape

(0, 14)

In [81]:
# Printing out df_dropped
df_dropped

Empty DataFrame
Columns: [pclass, survived, name, sex, age, sibsp, parch, ticket, fare, cabin, embarked, boat, body, home.dest]
Index: []

In [88]:
# Challenge 14: Financial Allocation Dataset
# Let's now drop the records that have missing values
# url = http://bit.ly/MSFinancialDataset
#
data = pd.read_csv(url)
data.shape
datanew = data.dropna()
datanew.shape

(0, 14)

Challenge 15: Together with your peer discuss the cases where you might use the above drop/delete technique.