<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# Python Data Cleaning and Analysis - Population by Type of Disability

## 1.0 Importing our Libraries

In [136]:
# Importing the libraries we will need 

# Importing the pandas library
# 
import pandas as pd
# Importing the numpy library
#
import numpy as np

## 1.1 Reading the Dataset from our CSV file



The dataset we will use contains the percentage distribution of population by type of disability for Kenyan counties. 


*   Dataset link for download or access: [Link](https://drive.google.com/a/moringaschool.com/file/d/13twDwhbJqBr1Dvmlwzv6Mou-irul77cS/view?usp=sharing)

In [137]:
# Let's read the data from the CSV file and create the dataframe to be used
# 
df = pd.read_csv('Percentage_Distribution_of_Population_by_type_of_Disability_County_Estimates2005_6.csv')
df

,County,Missing_Hand,Missing_Foot,Lame,Blind,Deaf,Dumb,Mental,Paralyzed,Other,Total_Count,Location_1,OBJECTID
0,Baringo,10.9%,2.8%,30.9%,2.6%,1%,3.8%,12.4%,54.2%,10.9%,6512.1,"(0.512912, 35.952537)",0
1,Bomet,0%,0%,29.2%,10%,8.1%,8.1%,14.2%,0.3%,38.7%,6538.0,"(-0.690131, 35.278005)",1
2,Bungoma,12.3%,0%,49.2%,0%,2.3%,20.8%,12.7%,0%,21.9%,13170.6,"(0.737046, 34.672536)",2
3,Busia,0%,0%,14.3%,12.3%,4.6%,35.5%,4.8%,14.8%,31.4%,6655.5,"(0.428414, 34.210571)",3
4,Elgeyo Marakwet,0%,0%,31.7%,0%,35.7%,0%,20%,12.6%,7.4%,3599.9,"(0.806011, 35.564093)",4
5,Embu,0%,0%,55.1%,0%,0%,3%,3%,2.5%,41.8%,6287.4,"(-0.5982, 37.653906)",5
6,Garissa,0%,37.1%,0%,0%,0%,0%,11.3%,11.3%,51.6%,1864.1,"(-0.564679, 40.408457)",6
7,Homa Bay,2.1%,0%,20.9%,6.7%,6.3%,5.2%,11.3%,9%,48.3%,23696.8,"(-0.640985, 34.411083)",7
8,Isiolo,13.9%,3.3%,32.6%,38.6%,12.9%,0%,0%,2%,19.8%,2154.4,"(0.949302, 38.614718)",8
9,Kajiado,0%,0%,26.9%,19%,0%,0%,27.6%,0%,45.5%,3250.3,"(-2.221971, 36.980268)",9
10,Kakamega,1%,0%,30.1%,6.8%,0.5%,4.8%,3.6%,6.3%,51.7%,27468.9,"(0.308499, 34.654844)",10
11,Kericho,0%,0%,0%,4.8%,0%,0%,0%,21.7%,73.6%,3055.8,"(-0.297842, 35.319833)",11
12,Kiambu,0%,0%,0%,10.1%,0%,0%,70.7%,7.6%,11.6%,10099.9,"(-1.060698, 36.79929)",12
13,Kilifi,2.5%,0%,35.5%,18.2%,13.8%,7.1%,29.3%,9.9%,2.5%,6996.6,"(-3.279972, 39.63501)",13
14,Kirinyaga,0%,0%,4.2%,0%,0%,0%,66.4%,33.6%,0%,2522.8,"(-0.517766, 37.302006)",14
15,Kisii,0%,6.6%,7%,12.7%,10.2%,6.6%,22.1%,11%,23.8%,9627.8,"(-0.782524, 34.766895)",15
16,Kisumu,7.6%,0%,32.7%,0%,0%,4.5%,17.7%,3%,41.4%,20026.3,"(-0.167225, 34.953647)",16
17,Kitui,0%,9.3%,11%,17.2%,0%,36.4%,17.7%,19.4%,7.6%,4403.0,"(-1.519146, 38.376101)",17
18,Kwale,0%,9.1%,14.6%,7.4%,0%,19.9%,50.5%,6.4%,19.5%,8503.0,"(-4.242667, 39.174233)",18
19,Laikipia,0%,0%,45.2%,0%,0%,54.8%,0%,0%,0%,1825.7,"(0.311627, 36.814178)",19
20,Lamu,0%,0%,0%,0%,0%,26.1%,8.6%,2.9%,65.3%,524.9,"(-2.03752, 40.688214)",20
21,Machakos,0%,0%,12.6%,0%,0%,10.3%,18.8%,18%,58.9%,23460.4,"(-1.327138, 37.352277)",21
22,Makueni,0%,0%,16.7%,31.5%,4.7%,9.2%,19.7%,10.9%,30.5%,15475.4,"(-2.211917, 37.865047)",22
23,Mandera,0%,1.4%,8.9%,14%,25.9%,11.8%,29.6%,9.2%,10.9%,3343.5,"(3.46712, 40.704671)",23
24,Marsabit,1.5%,9.7%,16.2%,8.6%,18.8%,9.6%,11.6%,23.9%,18.3%,3931.5,"(2.772167, 37.76822)",24
25,Meru,0%,0%,34.7%,0%,0%,11.6%,12.3%,4%,57.2%,19166.3,"(0.159398, 37.750761)",25
26,Migori,6%,6.9%,29.4%,1.4%,4%,0%,8.6%,15.4%,30.1%,15359.3,"(-1.008592, 34.42681)",26
27,Mombasa,0%,0%,9.3%,24.5%,0%,1%,16.8%,25.8%,22.6%,5413.4,"(-3.998813, 39.632129)",27
28,Murang'a,0%,0%,16.5%,0%,17.2%,41.4%,20.3%,10.1%,15.5%,8512.1,"(-0.804314, 37.035566)",28
29,Nairobi,0%,12.6%,20.4%,0%,17.5%,7.6%,29.6%,1.1%,18.9%,14936.2,"(-1.296975, 36.844534)",29
30,Nakuru,0.4%,0%,55%,0%,0%,8.4%,33.6%,12.7%,15.7%,21598.0,"(-0.385212, 36.036261)",30
31,Nandi,0%,9.1%,25.7%,7%,9.1%,0%,0%,0%,49.1%,11530.7,"(0.143371, 35.156125)",31
32,Narok,5.4%,0.6%,11.3%,2.5%,12.2%,22.3%,23.7%,32.5%,14.4%,7986.1,"(-1.227452, 35.686784)",32
33,Nyamira,0%,0%,21.1%,0%,50.2%,54.5%,0%,0%,0%,4727.3,"(-0.644917, 34.955612)",33
34,Nyandarua,21.2%,0%,28.7%,0%,27.9%,0%,22.2%,0%,0%,2369.6,"(-0.374727, 36.494076)",34
35,Nyeri,0%,16.1%,41.2%,16.1%,25.1%,9.8%,32.9%,0%,0%,2392.6,"(-0.407168, 36.965186)",35
36,Samburu,11.6%,10%,31.6%,22%,10.3%,7.3%,7.1%,0%,0%,2574.9,"(1.183862, 37.184377)",36
37,Siaya,0%,0%,22.4%,29.4%,0%,5.7%,14.5%,10%,23.6%,6279.4,"(0.039184, 34.279374)",37
38,Taita Taveta,0%,3.7%,15.4%,0%,0%,13.3%,83.1%,20.4%,5.9%,3709.8,"(-3.551502, 38.376101)",38
39,Tana River,0%,0%,42.9%,21.2%,16.2%,7.3%,32.6%,9.2%,8.1%,3699.8,"(-1.584971, 39.536272)",39
40,Tharaka Nithi,0%,0%,0%,0%,29.3%,29.3%,41.4%,0%,29.3%,420.1,"(-0.227324, 37.882411)",40
41,Trans Nzoia,0%,0%,0%,11.3%,0%,0%,20.5%,0%,68.2%,8251.9,"(1.030597, 34.949297)",41
42,Turkana,0%,0%,0%,35.5%,7.8%,0%,0%,92.2%,0%,1733.1,"(3.318344, 35.401457)",42
43,Uasin Gishu,0%,0%,18.6%,0%,0%,0%,27.3%,7.2%,58.1%,9281.6,"(0.555288, 35.306307)",43
44,Vihiga,0%,0%,30.2%,19.7%,12.7%,1.1%,8%,0%,26.9%,23490.6,"(0.0785, 34.717749)",44
45,Wajir,1.3%,5.2%,50.5%,8%,8%,17.8%,12.7%,15.8%,0%,9276.5,"(1.895541, 40.07933)",45
46,West Pokot,0%,14%,29.5%,21.1%,0%,0%,0%,30.9%,12.6%,4874.2,"(1.575837, 35.316901)",46
47,Kenya average,1.9%,2.3%,25.5%,7.8%,5.9%,9%,18.1%,10%,31.7%,402578.1,NaN,47

## 1.2 Previewing our Dataset

In [138]:
# Let's preview the first 10 rows of our data
# 
df.head(10)

,County,Missing_Hand,Missing_Foot,Lame,Blind,Deaf,Dumb,Mental,Paralyzed,Other,Total_Count,Location_1,OBJECTID
0,Baringo,10.9%,2.8%,30.9%,2.6%,1%,3.8%,12.4%,54.2%,10.9%,6512.1,"(0.512912, 35.952537)",0
1,Bomet,0%,0%,29.2%,10%,8.1%,8.1%,14.2%,0.3%,38.7%,6538.0,"(-0.690131, 35.278005)",1
2,Bungoma,12.3%,0%,49.2%,0%,2.3%,20.8%,12.7%,0%,21.9%,13170.6,"(0.737046, 34.672536)",2
3,Busia,0%,0%,14.3%,12.3%,4.6%,35.5%,4.8%,14.8%,31.4%,6655.5,"(0.428414, 34.210571)",3
4,Elgeyo Marakwet,0%,0%,31.7%,0%,35.7%,0%,20%,12.6%,7.4%,3599.9,"(0.806011, 35.564093)",4
5,Embu,0%,0%,55.1%,0%,0%,3%,3%,2.5%,41.8%,6287.4,"(-0.5982, 37.653906)",5
6,Garissa,0%,37.1%,0%,0%,0%,0%,11.3%,11.3%,51.6%,1864.1,"(-0.564679, 40.408457)",6
7,Homa Bay,2.1%,0%,20.9%,6.7%,6.3%,5.2%,11.3%,9%,48.3%,23696.8,"(-0.640985, 34.411083)",7
8,Isiolo,13.9%,3.3%,32.6%,38.6%,12.9%,0%,0%,2%,19.8%,2154.4,"(0.949302, 38.614718)",8
9,Kajiado,0%,0%,26.9%,19%,0%,0%,27.6%,0%,45.5%,3250.3,"(-2.221971, 36.980268)",9

## 1.3 Accessing Information about our Dataset

In [139]:
# Getting to know more about the dataset by accessing its information
# 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   County        48 non-null     object
 1   Missing_Hand  48 non-null     object
 2   Missing_Foot  48 non-null     object
 3   Lame          48 non-null     object
 4   Blind         48 non-null     object
 5   Deaf          48 non-null     object
 6   Dumb          48 non-null     object
 7   Mental        48 non-null     object
 8   Paralyzed     48 non-null     object
 9   Other         48 non-null     object
 10  Total_Count   48 non-null     float64
 11  Location_1    47 non-null     object
 12  OBJECTID      48 non-null     int64
dtypes: float64(1), int64(1), object(11)
memory usage: 5.0+ KB

## 1.4 Cleaning our Dataset

Let us perform data cleaning procedures below providing a documentation for our actions and reasons. We will perform as many data cleaning procedures as we think suitable for the various dimensions of data.

### 1.41) Validity: <font color="green">Challenges</font>

In [140]:
# Procedure 1: Irrelevant Data Observation
# Data Cleaning Action: Dropping Location_1 attribute
# Explanation: We won't need it during Analysis. No question to be answered requires that column.
#
df.drop(['Location_1'],axis=1,inplace=True)
df

,County,Missing_Hand,Missing_Foot,Lame,Blind,Deaf,Dumb,Mental,Paralyzed,Other,Total_Count,OBJECTID
0,Baringo,10.9%,2.8%,30.9%,2.6%,1%,3.8%,12.4%,54.2%,10.9%,6512.1,0
1,Bomet,0%,0%,29.2%,10%,8.1%,8.1%,14.2%,0.3%,38.7%,6538.0,1
2,Bungoma,12.3%,0%,49.2%,0%,2.3%,20.8%,12.7%,0%,21.9%,13170.6,2
3,Busia,0%,0%,14.3%,12.3%,4.6%,35.5%,4.8%,14.8%,31.4%,6655.5,3
4,Elgeyo Marakwet,0%,0%,31.7%,0%,35.7%,0%,20%,12.6%,7.4%,3599.9,4
5,Embu,0%,0%,55.1%,0%,0%,3%,3%,2.5%,41.8%,6287.4,5
6,Garissa,0%,37.1%,0%,0%,0%,0%,11.3%,11.3%,51.6%,1864.1,6
7,Homa Bay,2.1%,0%,20.9%,6.7%,6.3%,5.2%,11.3%,9%,48.3%,23696.8,7
8,Isiolo,13.9%,3.3%,32.6%,38.6%,12.9%,0%,0%,2%,19.8%,2154.4,8
9,Kajiado,0%,0%,26.9%,19%,0%,0%,27.6%,0%,45.5%,3250.3,9
10,Kakamega,1%,0%,30.1%,6.8%,0.5%,4.8%,3.6%,6.3%,51.7%,27468.9,10
11,Kericho,0%,0%,0%,4.8%,0%,0%,0%,21.7%,73.6%,3055.8,11
12,Kiambu,0%,0%,0%,10.1%,0%,0%,70.7%,7.6%,11.6%,10099.9,12
13,Kilifi,2.5%,0%,35.5%,18.2%,13.8%,7.1%,29.3%,9.9%,2.5%,6996.6,13
14,Kirinyaga,0%,0%,4.2%,0%,0%,0%,66.4%,33.6%,0%,2522.8,14
15,Kisii,0%,6.6%,7%,12.7%,10.2%,6.6%,22.1%,11%,23.8%,9627.8,15
16,Kisumu,7.6%,0%,32.7%,0%,0%,4.5%,17.7%,3%,41.4%,20026.3,16
17,Kitui,0%,9.3%,11%,17.2%,0%,36.4%,17.7%,19.4%,7.6%,4403.0,17
18,Kwale,0%,9.1%,14.6%,7.4%,0%,19.9%,50.5%,6.4%,19.5%,8503.0,18
19,Laikipia,0%,0%,45.2%,0%,0%,54.8%,0%,0%,0%,1825.7,19
20,Lamu,0%,0%,0%,0%,0%,26.1%,8.6%,2.9%,65.3%,524.9,20
21,Machakos,0%,0%,12.6%,0%,0%,10.3%,18.8%,18%,58.9%,23460.4,21
22,Makueni,0%,0%,16.7%,31.5%,4.7%,9.2%,19.7%,10.9%,30.5%,15475.4,22
23,Mandera,0%,1.4%,8.9%,14%,25.9%,11.8%,29.6%,9.2%,10.9%,3343.5,23
24,Marsabit,1.5%,9.7%,16.2%,8.6%,18.8%,9.6%,11.6%,23.9%,18.3%,3931.5,24
25,Meru,0%,0%,34.7%,0%,0%,11.6%,12.3%,4%,57.2%,19166.3,25
26,Migori,6%,6.9%,29.4%,1.4%,4%,0%,8.6%,15.4%,30.1%,15359.3,26
27,Mombasa,0%,0%,9.3%,24.5%,0%,1%,16.8%,25.8%,22.6%,5413.4,27
28,Murang'a,0%,0%,16.5%,0%,17.2%,41.4%,20.3%,10.1%,15.5%,8512.1,28
29,Nairobi,0%,12.6%,20.4%,0%,17.5%,7.6%,29.6%,1.1%,18.9%,14936.2,29
30,Nakuru,0.4%,0%,55%,0%,0%,8.4%,33.6%,12.7%,15.7%,21598.0,30
31,Nandi,0%,9.1%,25.7%,7%,9.1%,0%,0%,0%,49.1%,11530.7,31
32,Narok,5.4%,0.6%,11.3%,2.5%,12.2%,22.3%,23.7%,32.5%,14.4%,7986.1,32
33,Nyamira,0%,0%,21.1%,0%,50.2%,54.5%,0%,0%,0%,4727.3,33
34,Nyandarua,21.2%,0%,28.7%,0%,27.9%,0%,22.2%,0%,0%,2369.6,34
35,Nyeri,0%,16.1%,41.2%,16.1%,25.1%,9.8%,32.9%,0%,0%,2392.6,35
36,Samburu,11.6%,10%,31.6%,22%,10.3%,7.3%,7.1%,0%,0%,2574.9,36
37,Siaya,0%,0%,22.4%,29.4%,0%,5.7%,14.5%,10%,23.6%,6279.4,37
38,Taita Taveta,0%,3.7%,15.4%,0%,0%,13.3%,83.1%,20.4%,5.9%,3709.8,38
39,Tana River,0%,0%,42.9%,21.2%,16.2%,7.3%,32.6%,9.2%,8.1%,3699.8,39
40,Tharaka Nithi,0%,0%,0%,0%,29.3%,29.3%,41.4%,0%,29.3%,420.1,40
41,Trans Nzoia,0%,0%,0%,11.3%,0%,0%,20.5%,0%,68.2%,8251.9,41
42,Turkana,0%,0%,0%,35.5%,7.8%,0%,0%,92.2%,0%,1733.1,42
43,Uasin Gishu,0%,0%,18.6%,0%,0%,0%,27.3%,7.2%,58.1%,9281.6,43
44,Vihiga,0%,0%,30.2%,19.7%,12.7%,1.1%,8%,0%,26.9%,23490.6,44
45,Wajir,1.3%,5.2%,50.5%,8%,8%,17.8%,12.7%,15.8%,0%,9276.5,45
46,West Pokot,0%,14%,29.5%,21.1%,0%,0%,0%,30.9%,12.6%,4874.2,46
47,Kenya average,1.9%,2.3%,25.5%,7.8%,5.9%,9%,18.1%,10%,31.7%,402578.1,47

In [141]:
# Procedure 2: Irrelevant Data Observation
# Data Cleaning Action: Drop OBJECTID attribute
# Explanation: Its irrelevant to our table i.e. attribute starts from 0 and ends of 48 i.e. No meaning at all.
df.drop(['OBJECTID'],axis=1,inplace = True)
df

,County,Missing_Hand,Missing_Foot,Lame,Blind,Deaf,Dumb,Mental,Paralyzed,Other,Total_Count
0,Baringo,10.9%,2.8%,30.9%,2.6%,1%,3.8%,12.4%,54.2%,10.9%,6512.1
1,Bomet,0%,0%,29.2%,10%,8.1%,8.1%,14.2%,0.3%,38.7%,6538.0
2,Bungoma,12.3%,0%,49.2%,0%,2.3%,20.8%,12.7%,0%,21.9%,13170.6
3,Busia,0%,0%,14.3%,12.3%,4.6%,35.5%,4.8%,14.8%,31.4%,6655.5
4,Elgeyo Marakwet,0%,0%,31.7%,0%,35.7%,0%,20%,12.6%,7.4%,3599.9
5,Embu,0%,0%,55.1%,0%,0%,3%,3%,2.5%,41.8%,6287.4
6,Garissa,0%,37.1%,0%,0%,0%,0%,11.3%,11.3%,51.6%,1864.1
7,Homa Bay,2.1%,0%,20.9%,6.7%,6.3%,5.2%,11.3%,9%,48.3%,23696.8
8,Isiolo,13.9%,3.3%,32.6%,38.6%,12.9%,0%,0%,2%,19.8%,2154.4
9,Kajiado,0%,0%,26.9%,19%,0%,0%,27.6%,0%,45.5%,3250.3
10,Kakamega,1%,0%,30.1%,6.8%,0.5%,4.8%,3.6%,6.3%,51.7%,27468.9
11,Kericho,0%,0%,0%,4.8%,0%,0%,0%,21.7%,73.6%,3055.8
12,Kiambu,0%,0%,0%,10.1%,0%,0%,70.7%,7.6%,11.6%,10099.9
13,Kilifi,2.5%,0%,35.5%,18.2%,13.8%,7.1%,29.3%,9.9%,2.5%,6996.6
14,Kirinyaga,0%,0%,4.2%,0%,0%,0%,66.4%,33.6%,0%,2522.8
15,Kisii,0%,6.6%,7%,12.7%,10.2%,6.6%,22.1%,11%,23.8%,9627.8
16,Kisumu,7.6%,0%,32.7%,0%,0%,4.5%,17.7%,3%,41.4%,20026.3
17,Kitui,0%,9.3%,11%,17.2%,0%,36.4%,17.7%,19.4%,7.6%,4403.0
18,Kwale,0%,9.1%,14.6%,7.4%,0%,19.9%,50.5%,6.4%,19.5%,8503.0
19,Laikipia,0%,0%,45.2%,0%,0%,54.8%,0%,0%,0%,1825.7
20,Lamu,0%,0%,0%,0%,0%,26.1%,8.6%,2.9%,65.3%,524.9
21,Machakos,0%,0%,12.6%,0%,0%,10.3%,18.8%,18%,58.9%,23460.4
22,Makueni,0%,0%,16.7%,31.5%,4.7%,9.2%,19.7%,10.9%,30.5%,15475.4
23,Mandera,0%,1.4%,8.9%,14%,25.9%,11.8%,29.6%,9.2%,10.9%,3343.5
24,Marsabit,1.5%,9.7%,16.2%,8.6%,18.8%,9.6%,11.6%,23.9%,18.3%,3931.5
25,Meru,0%,0%,34.7%,0%,0%,11.6%,12.3%,4%,57.2%,19166.3
26,Migori,6%,6.9%,29.4%,1.4%,4%,0%,8.6%,15.4%,30.1%,15359.3
27,Mombasa,0%,0%,9.3%,24.5%,0%,1%,16.8%,25.8%,22.6%,5413.4
28,Murang'a,0%,0%,16.5%,0%,17.2%,41.4%,20.3%,10.1%,15.5%,8512.1
29,Nairobi,0%,12.6%,20.4%,0%,17.5%,7.6%,29.6%,1.1%,18.9%,14936.2
30,Nakuru,0.4%,0%,55%,0%,0%,8.4%,33.6%,12.7%,15.7%,21598.0
31,Nandi,0%,9.1%,25.7%,7%,9.1%,0%,0%,0%,49.1%,11530.7
32,Narok,5.4%,0.6%,11.3%,2.5%,12.2%,22.3%,23.7%,32.5%,14.4%,7986.1
33,Nyamira,0%,0%,21.1%,0%,50.2%,54.5%,0%,0%,0%,4727.3
34,Nyandarua,21.2%,0%,28.7%,0%,27.9%,0%,22.2%,0%,0%,2369.6
35,Nyeri,0%,16.1%,41.2%,16.1%,25.1%,9.8%,32.9%,0%,0%,2392.6
36,Samburu,11.6%,10%,31.6%,22%,10.3%,7.3%,7.1%,0%,0%,2574.9
37,Siaya,0%,0%,22.4%,29.4%,0%,5.7%,14.5%,10%,23.6%,6279.4
38,Taita Taveta,0%,3.7%,15.4%,0%,0%,13.3%,83.1%,20.4%,5.9%,3709.8
39,Tana River,0%,0%,42.9%,21.2%,16.2%,7.3%,32.6%,9.2%,8.1%,3699.8
40,Tharaka Nithi,0%,0%,0%,0%,29.3%,29.3%,41.4%,0%,29.3%,420.1
41,Trans Nzoia,0%,0%,0%,11.3%,0%,0%,20.5%,0%,68.2%,8251.9
42,Turkana,0%,0%,0%,35.5%,7.8%,0%,0%,92.2%,0%,1733.1
43,Uasin Gishu,0%,0%,18.6%,0%,0%,0%,27.3%,7.2%,58.1%,9281.6
44,Vihiga,0%,0%,30.2%,19.7%,12.7%,1.1%,8%,0%,26.9%,23490.6
45,Wajir,1.3%,5.2%,50.5%,8%,8%,17.8%,12.7%,15.8%,0%,9276.5
46,West Pokot,0%,14%,29.5%,21.1%,0%,0%,0%,30.9%,12.6%,4874.2
47,Kenya average,1.9%,2.3%,25.5%,7.8%,5.9%,9%,18.1%,10%,31.7%,402578.1

In [142]:
# Procedure 3:
# Data Cleaning Action:removing leading and trailing spaces
# Explanation:
#
df['Missing_Hand'] = df['Missing_Hand'].str.replace("%","")
df['Missing_Foot'] = df['Missing_Foot'].str.replace("%","")
df['Lame'] = df['Lame'].str.replace("%","")
df['Blind'] = df['Blind'].str.replace("%","")
df['Deaf'] = df['Deaf'].str.replace("%","")
df['Dumb'] = df['Dumb'].str.replace("%","")
df['Mental'] = df['Mental'].str.replace("%","")
df['Paralyzed'] = df['Paralyzed'].str.replace("%","")
df['Other'] = df['Other'].str.replace("%","")

df

,County,Missing_Hand,Missing_Foot,Lame,Blind,Deaf,Dumb,Mental,Paralyzed,Other,Total_Count
0,Baringo,10.9,2.8,30.9,2.6,1,3.8,12.4,54.2,10.9,6512.1
1,Bomet,0,0,29.2,10,8.1,8.1,14.2,0.3,38.7,6538.0
2,Bungoma,12.3,0,49.2,0,2.3,20.8,12.7,0,21.9,13170.6
3,Busia,0,0,14.3,12.3,4.6,35.5,4.8,14.8,31.4,6655.5
4,Elgeyo Marakwet,0,0,31.7,0,35.7,0,20,12.6,7.4,3599.9
5,Embu,0,0,55.1,0,0,3,3,2.5,41.8,6287.4
6,Garissa,0,37.1,0,0,0,0,11.3,11.3,51.6,1864.1
7,Homa Bay,2.1,0,20.9,6.7,6.3,5.2,11.3,9,48.3,23696.8
8,Isiolo,13.9,3.3,32.6,38.6,12.9,0,0,2,19.8,2154.4
9,Kajiado,0,0,26.9,19,0,0,27.6,0,45.5,3250.3
10,Kakamega,1,0,30.1,6.8,0.5,4.8,3.6,6.3,51.7,27468.9
11,Kericho,0,0,0,4.8,0,0,0,21.7,73.6,3055.8
12,Kiambu,0,0,0,10.1,0,0,70.7,7.6,11.6,10099.9
13,Kilifi,2.5,0,35.5,18.2,13.8,7.1,29.3,9.9,2.5,6996.6
14,Kirinyaga,0,0,4.2,0,0,0,66.4,33.6,0,2522.8
15,Kisii,0,6.6,7,12.7,10.2,6.6,22.1,11,23.8,9627.8
16,Kisumu,7.6,0,32.7,0,0,4.5,17.7,3,41.4,20026.3
17,Kitui,0,9.3,11,17.2,0,36.4,17.7,19.4,7.6,4403.0
18,Kwale,0,9.1,14.6,7.4,0,19.9,50.5,6.4,19.5,8503.0
19,Laikipia,0,0,45.2,0,0,54.8,0,0,0,1825.7
20,Lamu,0,0,0,0,0,26.1,8.6,2.9,65.3,524.9
21,Machakos,0,0,12.6,0,0,10.3,18.8,18,58.9,23460.4
22,Makueni,0,0,16.7,31.5,4.7,9.2,19.7,10.9,30.5,15475.4
23,Mandera,0,1.4,8.9,14,25.9,11.8,29.6,9.2,10.9,3343.5
24,Marsabit,1.5,9.7,16.2,8.6,18.8,9.6,11.6,23.9,18.3,3931.5
25,Meru,0,0,34.7,0,0,11.6,12.3,4,57.2,19166.3
26,Migori,6,6.9,29.4,1.4,4,0,8.6,15.4,30.1,15359.3
27,Mombasa,0,0,9.3,24.5,0,1,16.8,25.8,22.6,5413.4
28,Murang'a,0,0,16.5,0,17.2,41.4,20.3,10.1,15.5,8512.1
29,Nairobi,0,12.6,20.4,0,17.5,7.6,29.6,1.1,18.9,14936.2
30,Nakuru,0.4,0,55,0,0,8.4,33.6,12.7,15.7,21598.0
31,Nandi,0,9.1,25.7,7,9.1,0,0,0,49.1,11530.7
32,Narok,5.4,0.6,11.3,2.5,12.2,22.3,23.7,32.5,14.4,7986.1
33,Nyamira,0,0,21.1,0,50.2,54.5,0,0,0,4727.3
34,Nyandarua,21.2,0,28.7,0,27.9,0,22.2,0,0,2369.6
35,Nyeri,0,16.1,41.2,16.1,25.1,9.8,32.9,0,0,2392.6
36,Samburu,11.6,10,31.6,22,10.3,7.3,7.1,0,0,2574.9
37,Siaya,0,0,22.4,29.4,0,5.7,14.5,10,23.6,6279.4
38,Taita Taveta,0,3.7,15.4,0,0,13.3,83.1,20.4,5.9,3709.8
39,Tana River,0,0,42.9,21.2,16.2,7.3,32.6,9.2,8.1,3699.8
40,Tharaka Nithi,0,0,0,0,29.3,29.3,41.4,0,29.3,420.1
41,Trans Nzoia,0,0,0,11.3,0,0,20.5,0,68.2,8251.9
42,Turkana,0,0,0,35.5,7.8,0,0,92.2,0,1733.1
43,Uasin Gishu,0,0,18.6,0,0,0,27.3,7.2,58.1,9281.6
44,Vihiga,0,0,30.2,19.7,12.7,1.1,8,0,26.9,23490.6
45,Wajir,1.3,5.2,50.5,8,8,17.8,12.7,15.8,0,9276.5
46,West Pokot,0,14,29.5,21.1,0,0,0,30.9,12.6,4874.2
47,Kenya average,1.9,2.3,25.5,7.8,5.9,9,18.1,10,31.7,402578.1

In [143]:
# Procedure 4:
# Data Cleaning Action:
# Explanation:
#
df['County'] = df['County'].str.strip()

### 1.42) Accuracy <font color="green">Challenges</font>

In [144]:
# Procedure 1:
# Data Cleaning Action:
# Explanation:
#
data = df[df['Total_Count'] != 402578.1]
data['Total_Count'].sum()
data['Total_Count'].mean()

8565.491489361702

### 1.43) Completeness <font color="green">Challenges</font>

In [145]:
# Procedure 1:
# Data Cleaning Action:
# Explanation:
#
data.isnull().sum()

County          0
Missing_Hand    0
Missing_Foot    0
Lame            0
Blind           0
Deaf            0
Dumb            0
Mental          0
Paralyzed       0
Other           0
Total_Count     0
dtype: int64

In [147]:
# Procedure 2:
# Data Cleaning Action:
# Explanation:
#

### 1.44) Consitency: <font color="green">Challenges</font>

In [148]:
# Procedure 1: Duplicates
# Data Cleaning Action: No action taken
# Explanation: There were no duplicate instances
#
df.duplicated().sum()

0

### 1.45) Uniformity: <font color="green">Challenges<font/>

In [149]:
# Procedure 1: 
# Data Cleaning Action:
# Explanation:
#
data.columns = df.columns.str.strip()
data.columns = ['County', 'Missing_Hand(%)', 'Missing_Foot(%)','Lame(%)', 'Blind(%)', 'Deaf(%)', 'Dumb(%)', 'Mental(%)', 'Paralyzed(%)', 'Other(%)','Total_Count']
data.head(3)

,County,Missing_Hand(%),Missing_Foot(%),Lame(%),Blind(%),Deaf(%),Dumb(%),Mental(%),Paralyzed(%),Other(%),Total_Count
0,Baringo,10.9,2.8,30.9,2.6,1,3.8,12.4,54.2,10.9,6512.1
1,Bomet,0,0,29.2,10,8.1,8.1,14.2,0.3,38.7,6538.0
2,Bungoma,12.3,0,49.2,0,2.3,20.8,12.7,0,21.9,13170.6

In [151]:
# Procedure 2:
# Data Cleaning Action:
# Explanation:
#

### Exporting the Cleaned Dataset

In [152]:
# Let's export our dataframe into a csv file as shown 
# in the example given in the following line;
# daframe.to_csv('example.csv')
# In the above case daframe is the dataframe which would like to export.
# we use the to_csv function to create a csv file with the name example 
# and export it
#
data.to_csv("Disability.csv")

## 1.5 Answering Questions

Let's answer the following questions with our dataset using python.

In [153]:
# Challenge 1
# Which county had the highest no. of registered deaf persons?
# 
cols = data.columns.drop('County','Total_Count')
data[cols]=data[cols].apply(pd.to_numeric,errors = 'coerce')
data['Tot_deaf'] = (data['Deaf(%)']*data['Total_Count'])/100
data['Tot_deaf']
data.sort_values(by = 'Tot_deaf',ascending=False).head(1)

C:\Python39\lib\site-packages\pandas\core\frame.py:3636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
C:\Users\MARCHE~1\AppData\Local\Temp/ipykernel_10612/3389749133.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Tot_deaf'] = (data['Deaf(%)']*data['Total_Count'])/100

,County,Missing_Hand(%),Missing_Foot(%),Lame(%),Blind(%),Deaf(%),Dumb(%),Mental(%),Paralyzed(%),Other(%),Total_Count,Tot_deaf
44,Vihiga,0.0,0.0,30.2,19.7,12.7,1.1,8.0,0.0,26.9,23490.6,2983.3062

In [154]:
# Challenge 2
# Which county had the highest no. of registered persons with a missing hand?
#
data['Tot_missing_hand'] = (data['Missing_Hand(%)']*data['Total_Count'])/100

data.sort_values(by = 'Tot_missing_hand',ascending=False).head(1)

C:\Users\MARCHE~1\AppData\Local\Temp/ipykernel_10612/1453736345.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Tot_missing_hand'] = (data['Missing_Hand(%)']*data['Total_Count'])/100

,County,Missing_Hand(%),Missing_Foot(%),Lame(%),Blind(%),Deaf(%),Dumb(%),Mental(%),Paralyzed(%),Other(%),Total_Count,Tot_deaf,Tot_missing_hand
2,Bungoma,12.3,0.0,49.2,0.0,2.3,20.8,12.7,0.0,21.9,13170.6,302.9238,1619.9838

In [155]:
# Challenge 3
# Which county had the highest no. of registered persons with a missing foot?
data['Tot_missing_foot'] = (data['Missing_Foot(%)']*data['Total_Count'])/100

data.sort_values(by = 'Tot_missing_foot',ascending=False).head(1)

C:\Users\MARCHE~1\AppData\Local\Temp/ipykernel_10612/1082409136.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Tot_missing_foot'] = (data['Missing_Foot(%)']*data['Total_Count'])/100

,County,Missing_Hand(%),Missing_Foot(%),Lame(%),Blind(%),Deaf(%),Dumb(%),Mental(%),Paralyzed(%),Other(%),Total_Count,Tot_deaf,Tot_missing_hand,Tot_missing_foot
29,Nairobi,0.0,12.6,20.4,0.0,17.5,7.6,29.6,1.1,18.9,14936.2,2613.835,0.0,1881.9612

In [156]:
# Challenge 4
# Which county had the highest no. of registered lame persons?
# 
data['Tot_lame'] = (data['Lame(%)']*data['Total_Count'])/100

data.sort_values(by = 'Tot_lame',ascending=False).head(1)

C:\Users\MARCHE~1\AppData\Local\Temp/ipykernel_10612/823035104.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Tot_lame'] = (data['Lame(%)']*data['Total_Count'])/100

,County,Missing_Hand(%),Missing_Foot(%),Lame(%),Blind(%),Deaf(%),Dumb(%),Mental(%),Paralyzed(%),Other(%),Total_Count,Tot_deaf,Tot_missing_hand,Tot_missing_foot,Tot_lame
30,Nakuru,0.4,0.0,55.0,0.0,0.0,8.4,33.6,12.7,15.7,21598.0,0.0,86.392,0.0,11878.9

In [157]:
# Challenge 5
# Which county had the lowest no. of registered blind persons?
# 
data['Tot_blind'] = (data['Blind(%)']*data['Total_Count'])/100

data.sort_values(by = 'Tot_blind',ascending=True).head(1)

C:\Users\MARCHE~1\AppData\Local\Temp/ipykernel_10612/2760368782.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Tot_blind'] = (data['Blind(%)']*data['Total_Count'])/100

,County,Missing_Hand(%),Missing_Foot(%),Lame(%),Blind(%),Deaf(%),Dumb(%),Mental(%),Paralyzed(%),Other(%),Total_Count,Tot_deaf,Tot_missing_hand,Tot_missing_foot,Tot_lame,Tot_blind
34,Nyandarua,21.2,0.0,28.7,0.0,27.9,0.0,22.2,0.0,0.0,2369.6,661.1184,502.3552,0.0,680.0752,0.0

In [158]:
# Challenge 6
# Which county had the highest third no. of registered deaf persons?
# 

third = data.sort_values(by = 'Tot_deaf',ascending=False).head(3)
third
third.sort_values(by='Tot_deaf', ascending = True).head(1)

,County,Missing_Hand(%),Missing_Foot(%),Lame(%),Blind(%),Deaf(%),Dumb(%),Mental(%),Paralyzed(%),Other(%),Total_Count,Tot_deaf,Tot_missing_hand,Tot_missing_foot,Tot_lame,Tot_blind
33,Nyamira,0.0,0.0,21.1,0.0,50.2,54.5,0.0,0.0,0.0,4727.3,2373.1046,0.0,0.0,997.4603,0.0

In [159]:
# Challenge 7
# In descending order, which top 5 counties had the highest no. of registered dumb persons?
# 
data['Tot_dumb'] = (data['Dumb(%)']*data['Total_Count'])/100

data.sort_values(by = 'Tot_dumb',ascending=False).head(5)

C:\Users\MARCHE~1\AppData\Local\Temp/ipykernel_10612/2734576090.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Tot_dumb'] = (data['Dumb(%)']*data['Total_Count'])/100

,County,Missing_Hand(%),Missing_Foot(%),Lame(%),Blind(%),Deaf(%),Dumb(%),Mental(%),Paralyzed(%),Other(%),Total_Count,Tot_deaf,Tot_missing_hand,Tot_missing_foot,Tot_lame,Tot_blind,Tot_dumb
28,Murang'a,0.0,0.0,16.5,0.0,17.2,41.4,20.3,10.1,15.5,8512.1,1464.0812,0.0000,0.0,1404.4965,0.0000,3524.0094
2,Bungoma,12.3,0.0,49.2,0.0,2.3,20.8,12.7,0.0,21.9,13170.6,302.9238,1619.9838,0.0,6479.9352,0.0000,2739.4848
33,Nyamira,0.0,0.0,21.1,0.0,50.2,54.5,0.0,0.0,0.0,4727.3,2373.1046,0.0000,0.0,997.4603,0.0000,2576.3785
21,Machakos,0.0,0.0,12.6,0.0,0.0,10.3,18.8,18.0,58.9,23460.4,0.0000,0.0000,0.0,2956.0104,0.0000,2416.4212
3,Busia,0.0,0.0,14.3,12.3,4.6,35.5,4.8,14.8,31.4,6655.5,306.1530,0.0000,0.0,951.7365,818.6265,2362.7025

In [160]:
# Challenge 8
# In ascending order, which top 5 counties had the highest no. of registered persons with a mental disability? 
# 
data['Tot_mental'] = (data['Mental(%)']*data['Total_Count'])/100

asc = data.sort_values(by = 'Tot_mental',ascending=False).head(5)
asc.sort_values(by ='Tot_mental',ascending = True)

C:\Users\MARCHE~1\AppData\Local\Temp/ipykernel_10612/2172662509.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Tot_mental'] = (data['Mental(%)']*data['Total_Count'])/100

,County,Missing_Hand(%),Missing_Foot(%),Lame(%),Blind(%),Deaf(%),Dumb(%),Mental(%),Paralyzed(%),Other(%),Total_Count,Tot_deaf,Tot_missing_hand,Tot_missing_foot,Tot_lame,Tot_blind,Tot_dumb,Tot_mental
18,Kwale,0.0,9.1,14.6,7.4,0.0,19.9,50.5,6.4,19.5,8503.0,0.000,0.000,773.7730,1241.4380,629.2220,1692.0970,4294.0150
21,Machakos,0.0,0.0,12.6,0.0,0.0,10.3,18.8,18.0,58.9,23460.4,0.000,0.000,0.0000,2956.0104,0.0000,2416.4212,4410.5552
29,Nairobi,0.0,12.6,20.4,0.0,17.5,7.6,29.6,1.1,18.9,14936.2,2613.835,0.000,1881.9612,3046.9848,0.0000,1135.1512,4421.1152
12,Kiambu,0.0,0.0,0.0,10.1,0.0,0.0,70.7,7.6,11.6,10099.9,0.000,0.000,0.0000,0.0000,1020.0899,0.0000,7140.6293
30,Nakuru,0.4,0.0,55.0,0.0,0.0,8.4,33.6,12.7,15.7,21598.0,0.000,86.392,0.0000,11878.9000,0.0000,1814.2320,7256.9280

In [163]:
# Challenge 9
# Which counties had no registerd blind persons nor deaf persons?
# 
data[(data['Tot_blind']==0) & (data['Tot_deaf']==0)]

,County,Missing_Hand(%),Missing_Foot(%),Lame(%),Blind(%),Deaf(%),Dumb(%),Mental(%),Paralyzed(%),Other(%),Total_Count,Tot_deaf,Tot_missing_hand,Tot_missing_foot,Tot_lame,Tot_blind,Tot_dumb,Tot_mental
5,Embu,0.0,0.0,55.1,0.0,0.0,3.0,3.0,2.5,41.8,6287.4,0.0,0.0000,0.0000,3464.3574,0.0,188.6220,188.6220
6,Garissa,0.0,37.1,0.0,0.0,0.0,0.0,11.3,11.3,51.6,1864.1,0.0,0.0000,691.5811,0.0000,0.0,0.0000,210.6433
14,Kirinyaga,0.0,0.0,4.2,0.0,0.0,0.0,66.4,33.6,0.0,2522.8,0.0,0.0000,0.0000,105.9576,0.0,0.0000,1675.1392
16,Kisumu,7.6,0.0,32.7,0.0,0.0,4.5,17.7,3.0,41.4,20026.3,0.0,1521.9988,0.0000,6548.6001,0.0,901.1835,3544.6551
19,Laikipia,0.0,0.0,45.2,0.0,0.0,54.8,0.0,0.0,0.0,1825.7,0.0,0.0000,0.0000,825.2164,0.0,1000.4836,0.0000
20,Lamu,0.0,0.0,0.0,0.0,0.0,26.1,8.6,2.9,65.3,524.9,0.0,0.0000,0.0000,0.0000,0.0,136.9989,45.1414
21,Machakos,0.0,0.0,12.6,0.0,0.0,10.3,18.8,18.0,58.9,23460.4,0.0,0.0000,0.0000,2956.0104,0.0,2416.4212,4410.5552
25,Meru,0.0,0.0,34.7,0.0,0.0,11.6,12.3,4.0,57.2,19166.3,0.0,0.0000,0.0000,6650.7061,0.0,2223.2908,2357.4549
30,Nakuru,0.4,0.0,55.0,0.0,0.0,8.4,33.6,12.7,15.7,21598.0,0.0,86.3920,0.0000,11878.9000,0.0,1814.2320,7256.9280
38,Taita Taveta,0.0,3.7,15.4,0.0,0.0,13.3,83.1,20.4,5.9,3709.8,0.0,0.0000,137.2626,571.3092,0.0,493.4034,3082.8438
43,Uasin Gishu,0.0,0.0,18.6,0.0,0.0,0.0,27.3,7.2,58.1,9281.6,0.0,0.0000,0.0000,1726.3776,0.0,0.0000,2533.8768

In [166]:
# Challenge 10
# Which disability was the most registered across all the counties?
# 
data['Tot_Paralyzed'] = (data['Paralyzed(%)']*data['Total_Count'])/100
data['Tot_Other'] = (data['Other(%)']*data['Total_Count'])/100

data[['Tot_deaf','Tot_missing_hand','Tot_missing_foot','Tot_lame','Tot_blind','Tot_dumb','Tot_mental','Tot_Paralyzed','Tot_Other']].sum().sort_values(ascending=False).head(1)

C:\Users\MARCHE~1\AppData\Local\Temp/ipykernel_10612/4229521648.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Tot_Paralyzed'] = (data['Paralyzed(%)']*data['Total_Count'])/100
C:\Users\MARCHE~1\AppData\Local\Temp/ipykernel_10612/4229521648.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Tot_Other'] = (data['Other(%)']*data['Total_Count'])/100

Tot_Other    126990.0686
dtype: float64

In [169]:
# Challenge 11
# Which disability was the least registered across all the counties?
#
data[['Tot_deaf','Tot_missing_hand','Tot_missing_foot','Tot_lame','Tot_blind','Tot_dumb','Tot_mental','Tot_Paralyzed','Tot_Other']].sum().sort_values(ascending=True).head(1)

Tot_missing_hand    7518.3099
dtype: float64

In [171]:
# Challenge 12
# What was the average no. of registered persons with a disability?
#
data[['Tot_deaf','Tot_missing_hand','Tot_missing_foot','Tot_lame','Tot_blind','Tot_dumb','Tot_mental','Tot_Paralyzed','Tot_Other']].mean()

Tot_deaf             508.000651
Tot_missing_hand     159.964040
Tot_missing_foot     195.224613
Tot_lame            2200.962483
Tot_blind            667.086755
Tot_dumb             774.063989
Tot_mental          1574.710840
Tot_Paralyzed        857.820238
Tot_Other           2701.916353
dtype: float64

In [181]:
# Challenge 13
# Which three counties had least registered persons with disabilities?
#
data['Total_Person'] = data['Tot_deaf'] + data['Tot_missing_hand'] + data['Tot_missing_foot'] + data['Tot_lame'] + data['Tot_blind'] + data['Tot_dumb'] + data['Tot_mental'] + data['Tot_Paralyzed'] + data['Tot_Other']
data['Total_Person'].sort_values(ascending=True).head(3)

C:\Users\MARCHE~1\AppData\Local\Temp/ipykernel_10612/255109097.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Total_Person'] = data['Tot_deaf'] + data['Tot_missing_hand'] + data['Tot_missing_foot'] + data['Tot_lame'] + data['Tot_blind'] + data['Tot_dumb'] + data['Tot_mental'] + data['Tot_Paralyzed'] + data['Tot_Other']

20     540.1221
40     543.1893
19    1825.7000
Name: Total_Person, dtype: float64

In [173]:
# Challenge 14
# What was the total no of registered persons with a disability across all counties?
#
top=data[['Tot_deaf','Tot_missing_hand','Tot_missing_foot','Tot_lame','Tot_blind','Tot_dumb','Tot_mental','Tot_Paralyzed','Tot_Other']].sum()
top

Tot_deaf             23876.0306
Tot_missing_hand      7518.3099
Tot_missing_foot      9175.5568
Tot_lame            103445.2367
Tot_blind            31353.0775
Tot_dumb             36381.0075
Tot_mental           74011.4095
Tot_Paralyzed        40317.5512
Tot_Other           126990.0686
dtype: float64

In [180]:
# Challenge 15 
# Which top 3 counties has the highest no. of registered persons with a disability?
# 
data['Total_Person'] = data['Tot_deaf'] + data['Tot_missing_hand'] + data['Tot_missing_foot'] + data['Tot_lame'] + data['Tot_blind'] + data['Tot_dumb'] + data['Tot_mental'] + data['Tot_Paralyzed'] + data['Tot_Other']
counties = data[['County', 'Total_Person']]
counties.sort_values(by='Total_Person', ascending=False).head(3)

C:\Users\MARCHE~1\AppData\Local\Temp/ipykernel_10612/1779432645.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Total_Person'] = data['Tot_deaf'] + data['Tot_missing_hand'] + data['Tot_missing_foot'] + data['Tot_lame'] + data['Tot_blind'] + data['Tot_dumb'] + data['Tot_mental'] + data['Tot_Paralyzed'] + data['Tot_Other']

      County  Total_Person
10  Kakamega    28787.4072
21  Machakos    27824.0344
30    Nakuru    27170.2840