<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# Python Data Cleaning and Analysis - Kenyan Households Roofing Materials

## 1.0 Importing our Libraries

In [34]:
# Importing the libraries we will need 

# Importing the pandas library
import pandas as pd

# Importing the numpy library
import numpy as np

## 1.1 Reading the Dataset from our CSV file



The dataset we will use contains Kenyan households by the main type of Roofing Material for the main dwelling unit for 2009.



*   Dataset link for download or access: [Link](https://drive.google.com/a/moringaschool.com/file/d/1Mij0eAI8CHzanECX-n4Cv20N0A_whueJ/view?usp=sharing)

In [35]:
# Let's read the data from the CSV file and create the dataframe to be used
# 
df=pd.read_csv("2009_Census_Volume_II_Table_5_Households_by_main_type_of_Roofing_Material_for_the_main_dwelling_unit_by_district.csv")
df

,District,rural/urban,%_of_Households_Corrugated_Iron_Sheets,%_of_Households_Tiles,%_of_Households_Concrete,Asbestos_%_of_Households_Sheets,%_of_Households_Grass,%_of_Households_Makuti,%_of_Households_Tin,%_of_Households_Mud/Dung,...,No_Grass,No_Makuti,No_Tin,No_Mud/Dung,No_Other,County,MTEF,Location_1,Province,OBJECTID
0,NYANDARUA NORTH,Urban,91.08%,0.62%,0.16%,1.46%,0.64%,0.03%,0.07%,0%,...,148,7,17,1,1380,Nyandarua,"Physical Infrastructure, Housing",NaN,CENTRAL,0
1,NYANDARUA SOUTH,Urban,95.38%,0.47%,2.6%,1.46%,0.06%,0%,0%,0.02%,...,3,0,0,1,1,Nyandarua,"Physical Infrastructure, Housing",NaN,CENTRAL,1
2,NYERI NORTH,Urban,90.28%,1.13%,5.21%,2.58%,0.49%,0.08%,0.2%,0.01%,...,69,11,29,2,2,Nyeri,"Physical Infrastructure, Housing",NaN,CENTRAL,2
3,NYERI SOUTH,Urban,90.89%,2.3%,3.32%,3.04%,0.09%,0.05%,0.14%,0.01%,...,36,20,57,2,67,Nyeri,"Physical Infrastructure, Housing",NaN,CENTRAL,3
4,KIRINYAGA,Urban,91.41%,0.87%,3.97%,3.5%,0.04%,0.01%,0.03%,0.01%,...,11,3,9,4,42,Kirinyaga,"Physical Infrastructure, Housing",NaN,CENTRAL,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,BUSIA,Rural,49.66%,0.46%,0.03%,2.15%,47.44%,0.08%,0.13%,0.03%,...,27611,48,78,15,9,Busia,"Physical Infrastructure, Housing",NaN,WESTERN,310
311,TESO NORTH,Rural,29.2%,0.42%,0.03%,1.22%,69.07%,0.04%,0.01%,0.01%,...,9317,5,1,2,0,Busia,"Physical Infrastructure, Housing",NaN,WESTERN,311
312,SAMIA,Rural,52.69%,0.72%,0.05%,2.01%,44.16%,0.22%,0.02%,0.04%,...,8561,43,4,8,16,Busia,"Physical Infrastructure, Housing",NaN,WESTERN,312
313,BUNYALA,Rural,58.22%,0.5%,0.04%,1.63%,38.5%,0.15%,0.07%,0.01%,...,5211,20,9,2,120,Busia,"Physical Infrastructure, Housing",NaN,WESTERN,313
314,TESO SOUTH,Rural,25.44%,0.36%,0.03%,0.66%,73.39%,0.07%,0.02%,0.01%,...,15664,16,4,3,4,Busia,"Physical Infrastructure, Housing",NaN,WESTERN,314

## 1.2 Previewing our Dataset

In [36]:
# Let's preview the first 10 rows of our data
# 
df.head(10)

,District,rural/urban,%_of_Households_Corrugated_Iron_Sheets,%_of_Households_Tiles,%_of_Households_Concrete,Asbestos_%_of_Households_Sheets,%_of_Households_Grass,%_of_Households_Makuti,%_of_Households_Tin,%_of_Households_Mud/Dung,...,No_Grass,No_Makuti,No_Tin,No_Mud/Dung,No_Other,County,MTEF,Location_1,Province,OBJECTID
0,NYANDARUA NORTH,Urban,91.08%,0.62%,0.16%,1.46%,0.64%,0.03%,0.07%,0%,...,148,7,17,1,1380,Nyandarua,"Physical Infrastructure, Housing",NaN,CENTRAL,0
1,NYANDARUA SOUTH,Urban,95.38%,0.47%,2.6%,1.46%,0.06%,0%,0%,0.02%,...,3,0,0,1,1,Nyandarua,"Physical Infrastructure, Housing",NaN,CENTRAL,1
2,NYERI NORTH,Urban,90.28%,1.13%,5.21%,2.58%,0.49%,0.08%,0.2%,0.01%,...,69,11,29,2,2,Nyeri,"Physical Infrastructure, Housing",NaN,CENTRAL,2
3,NYERI SOUTH,Urban,90.89%,2.3%,3.32%,3.04%,0.09%,0.05%,0.14%,0.01%,...,36,20,57,2,67,Nyeri,"Physical Infrastructure, Housing",NaN,CENTRAL,3
4,KIRINYAGA,Urban,91.41%,0.87%,3.97%,3.5%,0.04%,0.01%,0.03%,0.01%,...,11,3,9,4,42,Kirinyaga,"Physical Infrastructure, Housing",NaN,CENTRAL,4
5,MURANGA NORTH,Urban,75.68%,1.86%,17.97%,3.84%,0.01%,0%,0.51%,0.01%,...,1,0,54,1,14,Murang'a,"Physical Infrastructure, Housing",NaN,CENTRAL,5
6,MURANGA SOUTH,Urban,90.67%,1.51%,4.23%,2.76%,0.27%,0.03%,0.47%,0.05%,...,81,9,142,15,8,Murang'a,"Physical Infrastructure, Housing",NaN,CENTRAL,6
7,KIAMBU EAST(KIAMBAA),Urban,88%,3.22%,6.6%,1.87%,0.01%,0.06%,0.14%,0%,...,8,35,89,1,69,Kiambu,"Physical Infrastructure, Housing",NaN,CENTRAL,7
8,KIKUYU,Urban,88.45%,3.68%,6.19%,1.45%,0.01%,0.05%,0.09%,0.01%,...,9,42,70,5,49,Kiambu,"Physical Infrastructure, Housing",NaN,CENTRAL,8
9,KIAMBU WEST,Urban,90.04%,2.52%,5.26%,1.5%,0.01%,0.07%,0.54%,0%,...,2,17,125,1,11,Kiambu,"Physical Infrastructure, Housing",NaN,CENTRAL,9

## 1.3 Accessing Information about our Dataset

We might need to convert columns to the respective datatypes ie. if there are payment columns we could convert them from string to float. This observation can be made by accessing information about the dataset.

In [37]:
# Getting to know more about the dataset by accessing its information
#
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315 entries, 0 to 314
Data columns (total 26 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   District                                315 non-null    object
 1   rural/urban                             315 non-null    object
 2   %_of_Households_Corrugated_Iron_Sheets  290 non-null    object
 3   %_of_Households_Tiles                   290 non-null    object
 4   %_of_Households_Concrete                290 non-null    object
 5   Asbestos_%_of_Households_Sheets         290 non-null    object
 6   %_of_Households_Grass                   290 non-null    object
 7   %_of_Households_Makuti                  290 non-null    object
 8   %_of_Households_Tin                     290 non-null    object
 9   %_of_Households_Mud/Dung                290 non-null    object
 10  %_of_Households_Other                   290 non-null    object
 11  Households                              315 non-null    int64
 12  No_Corrugated_Iron_Sheets               315 non-null    int64
 13  No_Tiles                                315 non-null    int64
 14  No_Concrete                             315 non-null    int64
 15  No_Asbestos_Sheets                      315 non-null    int64
 16  No_Grass                                315 non-null    int64
 17  No_Makuti                               315 non-null    int64
 18  No_Tin                                  315 non-null    int64
 19  No_Mud/Dung                             315 non-null    int64
 20  No_Other                                315 non-null    int64
 21  County                                  315 non-null    object
 22  MTEF                                    315 non-null    object
 23  Location_1                              0 non-null      float64
 24  Province                                315 non-null    object
 25  OBJECTID                                315 non-null    int64
dtypes: float64(1), int64(11), object(14)
memory usage: 64.1+ KB

## 1.4 Cleaning our Dataset

Let us perform data cleaning procedures below providing a documentation for our actions. We will perform as many data cleaning procedures as we think suitable for the various dimensions of data.

### 1.41) Validity: <font color="green">Challenges</font>

In [38]:
# Procedure 1:
# Data Cleaning Action:
# Explanation:
#
df.columns

Index(['District', 'rural/urban', '%_of_Households_Corrugated_Iron_Sheets',
       '%_of_Households_Tiles', '%_of_Households_Concrete',
       'Asbestos_%_of_Households_Sheets', '%_of_Households_Grass',
       '%_of_Households_Makuti', '%_of_Households_Tin',
       '%_of_Households_Mud/Dung', '%_of_Households_Other', 'Households',
       'No_Corrugated_Iron_Sheets', 'No_Tiles', 'No_Concrete',
       'No_Asbestos_Sheets', 'No_Grass', 'No_Makuti', 'No_Tin', 'No_Mud/Dung',
       'No_Other', 'County', 'MTEF', 'Location_1', 'Province', 'OBJECTID'],
      dtype='object')

In [39]:
# Procedure 2:
# Data Cleaning Action:
# Explanation:
#
df.drop(columns = ['%_of_Households_Corrugated_Iron_Sheets','%_of_Households_Tiles', '%_of_Households_Concrete','Asbestos_%_of_Households_Sheets', '%_of_Households_Grass','%_of_Households_Makuti', '%_of_Households_Tin','%_of_Households_Mud/Dung','%_of_Households_Other','Location_1','OBJECTID'],inplace =True)
df

,District,rural/urban,Households,No_Corrugated_Iron_Sheets,No_Tiles,No_Concrete,No_Asbestos_Sheets,No_Grass,No_Makuti,No_Tin,No_Mud/Dung,No_Other,County,MTEF,Province
0,NYANDARUA NORTH,Urban,23229,21156,144,38,338,148,7,17,1,1380,Nyandarua,"Physical Infrastructure, Housing",CENTRAL
1,NYANDARUA SOUTH,Urban,5345,5098,25,139,78,3,0,0,1,1,Nyandarua,"Physical Infrastructure, Housing",CENTRAL
2,NYERI NORTH,Urban,14208,12827,161,740,367,69,11,29,2,2,Nyeri,"Physical Infrastructure, Housing",CENTRAL
3,NYERI SOUTH,Urban,39927,36290,917,1325,1213,36,20,57,2,67,Nyeri,"Physical Infrastructure, Housing",CENTRAL
4,KIRINYAGA,Urban,27461,25103,239,1090,960,11,3,9,4,42,Kirinyaga,"Physical Infrastructure, Housing",CENTRAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,BUSIA,Rural,58208,28909,265,20,1253,27611,48,78,15,9,Busia,"Physical Infrastructure, Housing",WESTERN
311,TESO NORTH,Rural,13490,3939,57,4,165,9317,5,1,2,0,Busia,"Physical Infrastructure, Housing",WESTERN
312,SAMIA,Rural,19385,10214,139,10,390,8561,43,4,8,16,Busia,"Physical Infrastructure, Housing",WESTERN
313,BUNYALA,Rural,13535,7880,67,5,221,5211,20,9,2,120,Busia,"Physical Infrastructure, Housing",WESTERN
314,TESO SOUTH,Rural,21344,5429,77,6,141,15664,16,4,3,4,Busia,"Physical Infrastructure, Housing",WESTERN

In [40]:
# Procedure 3:
# Data Cleaning Action:
# Explanation:
#

### 1.42) Accuracy <font color="green">Challenges</font>

In [41]:
# Procedure 1:
# Data Cleaning Action:
# Explanation:
#
OUR CODE GOES HERE

SyntaxError: invalid syntax (Temp/ipykernel_8056/3629472034.py, line 5)

In [42]:
# Procedure 2:
# Data Cleaning Action:
# Explanation:
#
OUR CODE GOES HERE

SyntaxError: invalid syntax (Temp/ipykernel_8056/232596746.py, line 5)

### 1.43) Completeness <font color="green">Challenges</font>

In [43]:
# Procedure 1:
# Data Cleaning Action:
# Explanation:
#

In [44]:
# Procedure 2:
# Data Cleaning Action:
# Explanation:
df.isnull().sum()

District                     0
rural/urban                  0
Households                   0
No_Corrugated_Iron_Sheets    0
No_Tiles                     0
No_Concrete                  0
No_Asbestos_Sheets           0
No_Grass                     0
No_Makuti                    0
No_Tin                       0
No_Mud/Dung                  0
No_Other                     0
County                       0
MTEF                         0
Province                     0
dtype: int64

### 1.44) Consitency: <font color="green">Challenges</font>

In [45]:
# Procedure 1:
# Data Cleaning Action:
# Explanation:
#
df.duplicated().sum()

0

### 1.45) Uniformity: <font color="green">Challenges<font/>

In [46]:
# Procedure 1:
# Data Cleaning Action:
# Explanation:
#
OUR CODE GOES HERE

SyntaxError: invalid syntax (Temp/ipykernel_8056/3629472034.py, line 5)

In [49]:
# Procedure 2:
# Data Cleaning Action:
# Explanation:
#

### Exporting the Cleaned Dataset

In [50]:
# Let's export our dataframe into a csv file as shown 
# in the example given in the following line;
# daframe.to_csv('example.csv')
# In the above case daframe is the dataframe which would like to export.
# we use the to_csv function to create a csv file with the name example 
# and export it
#
df.to_csv("roofing.csv")

## 1.5 Answering Questions

Let's answer the following questions with our dataset

In [51]:
# Challenge 1
# Find out the most popular type of household material for urban regions.
# 

df1 = df.groupby(df['rural/urban']).sum()
df1.iloc[1].head(2)

Households                   3385308
No_Corrugated_Iron_Sheets    2669341
Name: Urban, dtype: int64

In [52]:
# Challenge 2
# Find out the least popular type of household material for urban regions.
#
df1 = df.groupby(df['rural/urban']).sum()
df1.iloc[1].tail(1)

No_Other    8807
Name: Urban, dtype: int64

In [53]:
# Challenge 3
# Find out the most popular type of households material in the urban regions of Nairobi.
# 
df.groupby(['County', 'rural/urban']).sum().loc['Nairobi'].loc['Urban'].sort_values(ascending = False).head(2)

Households                   983115
No_Corrugated_Iron_Sheets    641697
Name: Urban, dtype: int64

In [54]:
# Challenge 4
# Find out the least popular type of households material in rural regions of Nairobi.
# 
df.groupby(['County', 'rural/urban']).sum().loc['Nairobi'].loc['Urban'].sort_values(ascending = True).head(2)

No_Grass       185
No_Mud/Dung    283
Name: Urban, dtype: int64

In [67]:
# Challenge 5
# Find out the average no. of tiling households.
# 
df['No_Tiles'].mean()

615.2126984126984

In [57]:
# Challenge 6
# Which county has the highest no. of grass households?
# 
df.groupby('County')['No_Grass'].sum().sort_values(ascending = False).head(1)

County
Mandera    77307
Name: No_Grass, dtype: int64

In [58]:
# Challenge 7
# Which top 5 counties have the highest no of households made of iron sheets ?
# 
df.groupby('County')['No_Corrugated_Iron_Sheets'].sum().sort_values(ascending = False).head(5)

County
Nairobi     641697
Kiambu      423968
Nakuru      354675
Meru        352331
Kakamega    272421
Name: No_Corrugated_Iron_Sheets, dtype: int64

In [59]:
# Challenge 8
# What is the average no. of households in Kenya?
# 
df['Households'].mean()

27739.990476190476

In [60]:
# Challenge 9
# Which county has the most no. of households made of dung?
# 
df.groupby('County')['No_Mud/Dung'].sum().sort_values(ascending = False).head(1)

County
Narok    18677
Name: No_Mud/Dung, dtype: int64

In [61]:
# Challenge 10
# In ascending order, which top 3 counties have the highest no. of households with makuti?
# 
makuti_counties = df.groupby('County')['No_Makuti'].sum().sort_values(ascending = False).head(3)
makuti_counties.sort_values(ascending = True)

County
Turkana    43605
Kwale      60569
Kilifi     88633
Name: No_Makuti, dtype: int64

In [62]:
# Challenge 11
# What is the no. of Makuti households in urban regions?
#
df.groupby('rural/urban')['No_Makuti'].sum().loc['Urban']

52900

In [66]:
# Challenge 12
# What is the no. of Makuti households in the rural regions of Kisumu county?
#
df[(df['rural/urban']=="Rural") & (df['County']=="Kisumu")]['No_Makuti'].sum()

167

In [68]:
# Challenge 13
# What percentage of households in Kenya are concrete?
#
percentage = (df['No_Corrugated_Iron_Sheets'].sum()) / (df['Households'].sum()) * 100
percentage

73.22672201968003

In [64]:
# Challenge 14
# Which top 3 districts have the highest no. of grass and makuti households?
#
dfgm = df[['District', 'No_Grass', 'No_Makuti']]
# (df['No_Grass'] + df['No_Makuti'])
dfgm['Total'] = dfgm['No_Grass'] + dfgm['No_Makuti']
dfgm[['District','Total']].sort_values(by='Total', ascending= False).head(3)

C:\Users\MARCHE~1\AppData\Local\Temp/ipykernel_8056/793357342.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfgm['Total'] = dfgm['No_Grass'] + dfgm['No_Makuti']

            District  Total
166            SIAYA  48094
52            KILIFI  41017
142  MANDERA CENTRAL  39346

In [63]:
# Challenge 15 
# What is the households distribution of iron sheets, mud/dung, tin, 
# makuti, grass, sheets, concrete, tiles for Baringa County?
# 
df[df["County"]=="Baringo"][['District', 'No_Corrugated_Iron_Sheets','No_Tiles','No_Concrete', 'No_Makuti', 'No_Grass','No_Asbestos_Sheets','No_Mud/Dung']]

,District,No_Corrugated_Iron_Sheets,No_Tiles,No_Concrete,No_Makuti,No_Grass,No_Asbestos_Sheets,No_Mud/Dung
199,BARINGO,6685,199,24,4,318,385,2
200,BARINGO NORTH,0,0,0,0,0,0,0
201,EAST POKOT,0,0,0,0,0,0,0
202,KOIBATEK,7357,159,61,5,50,343,10
243,BARINGO,18189,247,16,37,8462,268,14
244,BARINGO NORTH,10500,179,9,23,8716,254,11
245,EAST POKOT,1632,88,8,99,19345,43,23
246,KOIBATEK,19681,237,9,55,5969,304,8